<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <title>Jeu de Picross</title>
  <script defer src="vue.global.prod.js"></script>
  <script defer src="html2canvas.min.js"></script>
  <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900"
        rel="stylesheet"
        type="text/css" />
  <link href="monogram.html.css"
        rel="stylesheet"
        type="text/css" />
</head>
<body>

<section id="app">
  <header>
    <aside>
      <input id="chkColorMode" type="checkbox" v-model="colorMode">
      <label for="chkColorMode">Activer le mode coloration</label>
    </aside>
  </header>

  <article :style="`zoom: ${zoom}%`" id="container">
    <table @mousedown="mouseDown"
           @mouseup="mouseUp"
           class="no-select">
      <tr>
        <th class="caseTopLeft"></th>
        <th :id="`indiceT_${c}`" :key="c" class="topCell" v-for="c in 25"></th>
      </tr>
      <tr :key="l" v-for="l in 25">
        <th :id="`indiceL_${l}`" class="leftCell"></th>
        <td :id="`case_${l}_${c}`" :key="c" @mouseover="colorize" class="case"
            v-for="c in 25"></td>
      </tr>
    </table>
  </article>

  <footer>
    <nav id="toolbar">
      <button @click="resetAll">Vider la grille</button>
      <button @click="exportGrid">Exporter la grille</button>
      <button @click="zoomOut">Zoom -</button>
      <button @click="zoomIn">Zoom +</button>
      <input @change="loadImage" accept="image/*" placeholder="Charger une image" type="file">
    </nav>
  </footer>

  <canvas height="25" id="previewCanvas" width="25">
    Désolé, votre navigateur ne supporte pas les canvas HTML5.
  </canvas>
</section>

<script type="text/javascript">
  window.onload = function () {
    const vueLoaded = typeof Vue !== 'undefined'

    if (vueLoaded) {
      console.log('Vue version :', Vue.version)
    } else {
      throw new Error('Vue n’est pas chargé !')
    }

    const app = Vue.createApp({
      data() {
        return {
          zoom: 75,
          isMouseDown: false,
          colorMode: true,
          // Pour stocker les cases colorées
          coloredCells: [],
          coloredCellsLoaded: [],
          // Pour stocker les indices de la grille
          tableauColDeCases: [],
          tableauLigDeCases: [],
          topCells: [],
          leftCells: [],
        }
      },
      methods: {
        resetHeaders: function () {
          this.topCells.forEach(cell => cell.innerHTML = '')
          this.leftCells.forEach(cell => cell.innerHTML = '')
        },
        resetGrid: function () {
          const cells = document.querySelectorAll('.case')
          cells.forEach(cell => cell.innerHTML = '')
          this.coloredCells.forEach(cell => cell.classList.remove('filledCell'))
          this.coloredCells = []
          this.coloredCellsLoaded = []
        },
        resetCanvas: function () {
          const canvas = document.getElementById('previewCanvas')
          if (canvas.getContext) {
            const ctx = canvas.getContext('2d')
            ctx.clearRect(0, 0, canvas.width, canvas.height)
          } else {
            console.error('Impossible de récupérer le contexte du canvas')
          }
        },
        resetAll: function () {
          this.resetHeaders()
          this.resetGrid()
          this.resetCanvas()
        },
        exportGrid: function () {
          console.log('Grille exportée')
        },
        zoomOut: function () {
          this.mouseUp()
          this.zoom = Math.max(65, this.zoom - 5)
          console.log('Zoom:', this.zoom, 'isMouseDown:', this.isMouseDown)
        },
        zoomIn: function () {
          this.mouseUp()
          this.zoom = Math.min(100, this.zoom + 5)
          console.log('Zoom:', this.zoom, 'isMouseDown:', this.isMouseDown)
        },
        loadImage: function (event) {
          const file = event.target.files[0]
          console.log('Image chargée:', file)
        },
        mouseDown: function (event) {
          this.isMouseDown = true
        },
        mouseUp: function (event) {
          this.isMouseDown = false
        },
        colorize: function (event) {
          if (this.isMouseDown) {
            const targetId = event.currentTarget.id
            const targetDiv = event.target
            if (this.colorMode) {
              targetDiv.classList.add('filledCell')
              this.coloredCells.push(targetDiv)
            } else {
              targetDiv.classList.remove('filledCell')
            }
          }
        },
      },
      mounted() {
        // Init top and left cells
        this.topCells = document.querySelectorAll('.topCell')
        this.leftCells = document.querySelectorAll('.leftCell')
      },
    })
    // Monter l'application
    app.mount('#app')
  }
</script>
</body>
</html>